<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="person-circle-sharp"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      ChimpVine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-menu side="start" content-id="main-content" swipe-gesture="true">
    <ion-header>
      <ion-toolbar>
      <!ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <div style="display: flex; align-items: center; justify-content: center;">
          <img src="https://image.flaticon.com/icons/png/128/3135/3135715.png">
        </div>
        <ion-card-header>
          <ion-card-title>Welcome,</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>John Doe<br/>johndoe00@gmail.com</ion-text>
        </ion-card-content>
      </ion-card>

      <ion-list>
        <ion-item>
          <ion-icon name="person-sharp" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Gradebook</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
          <ion-label>Messages</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="newspaper" slot="start"></ion-icon>
          <ion-label>Blog</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="settings-sharp" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="chatbubbles" slot="start"></ion-icon>
          <ion-label>Chat With Us</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-content>
